.footer {
  background-color: #000000d5;

  /* position: absolute; */
  /* top: 250vh; */
  width: 100%;
  padding: 30px 0px;
  display: flex;
  font-size: 12px;
  justify-content: space-around;
  margin-top: 3%;
  box-shadow: #000000 0px 10px 10px 10px;
}

/* .redes {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  margin-left: 9.4%;
} */

.Git {
  width: 40px;
  height: 40px;
  display: inline-flex;
  margin-top: -400%;
  
  border: 2px solid transparent;
  border-radius: 100%;
}

.Git:hover {
  background-color: #ffffff;
  border-radius: 100%;
  transition: background-color 0.5s ease;

}

.Lin {
  width: 40px;
  height: 40px;
  display: inline-flex;
  margin-top: 1%;
  margin-left: 36%;
  border: 2px solid transparent;
  border-radius: 100%;
  margin-right: 5%;
}

.Lin:hover {
  background-color: #f1f1f1;
  border-radius: 100%;
  transition: background-color 0.5s ease;

  
}

.titulo2 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #858484;
  
}

.parrafo1 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #a7a9be;
  text-align: center;
  width: 50%;
}
.link1 {
  color: #f1f1f1;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}
.link1:hover {
  color: #7600ff;
}
.conocenos {
  margin-top: 40px;
  text-align: left;
}
.fotoContacto {
  margin-bottom: 10px;
}
.p1 {
  position: relative;
  right: -150px;
}
.p2 {
  position: relative;
  right: -67px;
  display: block;
}
.p3 {
  position: relative;
  right: -120px;
}
.contenedores {
  /* display: block; */
  justify-content: center;
  position: relative;
  left: 0px;
  margin-top: 90px;

  text-align: left;
}

.Logooo {
  width: 20%;
}
