



.main-add {
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;
    

}
.container-add input{
    border-radius: 15px;
}
.container-add textarea {
    border-radius: 15px;
}

.genres-div {
    border-radius: 15px;
    justify-content: center;
}

.plat-div{
    border-radius: 15px;
    justify-content: center;
}

.container-add {

    text-align: center;
    margin: 7px;
    padding: 20px;
    width: 800px;
    height: 650px;
}

.container-add h2 {
    
    text-align: center;
    font-family: Helvetica;
    font-size: 40px;
    color: rgb(255, 253, 253);
    
}


.div-cont {
    display: flex;
    justify-content: center;
}

.genres-div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(44, 42, 42, 0);
    width:650px;
    background-color: rgba(255, 255, 255, 0);
    
    
}

.plat-div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0);
    width:650px;
    
    background-color: rgba(255, 255, 255, 0)
}

.container-add label {
    font-size: large;
    margin: 3px;
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em rgb(62, 63, 63);
    
}

.name{
    height: 25px;
    width: 400px;
    border-color: rgba(255, 255, 255, 0);
    font-family: Helvetica;
    
   
}

.dt {
    height: 25px;
    width: 120px;
    border-color: rgba(255, 255, 255, 0);

}

.div-but-form {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.div-but-form button {
    font-family: 'Helvetica';
    padding: 10px;
    margin-top: 0px;
    border-radius: 15px;
    border-color: rgba(255, 255, 255, 0);
    background-color:rgb(255, 255, 255);
    
    
}

.div-but-form button:hover {
    background-color: rgb(153, 154, 160);
    color: #fff;
}

.container-add input {
    background-color:white
}

.container-add textarea {
    background-color: white
}



textarea{height: 30px;
width: 100%;
resize: none;
}