.background {
  display: block;
  width: 100%;
  background-repeat: repeat;
  float: left;
  width: 100%;
  height: 100%;
  margin-right: 1em;
  position: fixed;

  background: rgb(0, 0, 0);
  background-size: 500%;
}



.kratos {
  position: absolute;
  width: 55%;
  height: 500;
  left: 45%;
  top: 0px;
}
.kratos2 {
  position: absolute;
  width: 55%;
  height: 500;
  left: 45%;
  top: 0px;
}

.MyImage button {
  display: flex;
  padding: 10px;
  height: 20px;
  width: 40%;
}

img {
  display: block;
  width: 79%;
  align-items: center;
  justify-content: center;
}


.MyImage {
  display: flex;
  align-items: center;
  height: 60%;
  width: 288px;
}



.myButton {
  display: flex;
  padding-top: -100px;
  justify-content: center;
  align-items: center;
  margin-top: 36%;
  margin-left: 12%;
  background-color: #ffffff;
  border-radius: 10px;
  width: 30%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.myButton:hover, .myButton:focus, .myButton:active {
  box-shadow: 0 0 20 px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes myAnim {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.Title {
  position: absolute;
  width: 633px;
  height: 150px;
  left: 154px;
  top: 173px;

  font-family:Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 5px;
  letter-spacing: 0.00em;

  color: #ffffff;
}

.Title4{
  position: absolute;
  width: 633px;
  height: 150px;
  left: 444px;
  top: 173px;

  font-family: "Helvetica";
  font-weight: 600;
  font-size: 64px;
  line-height: 5px;
  letter-spacing: 0.00em;

  color: #7600FF;
}
.Title5{
  position: absolute;
  width: 633px;
  height: 150px;
  left: 654px;
  top: 173px;

  font-family: "Helvetica";
  font-weight: 600;
  font-size: 64px;
  line-height: 5px;
  letter-spacing: 0.00em;

  color: #ffffff;
}

.Title1{
  position: absolute;
  width: 633px;
  height: 10px;
  left: 314px;
  top: 285px;

  font-family: "Helvetica";
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.02em;

  color: #B3ADAE;
}

.Title2{
  position: absolute;
  width: 833px;
  height: 10px;
  left: 314px;
  top: 338px;

  font-family: "Helvetica";
  font-weight: 500;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.02em;

  color: #B3ADAE;
}

.fuego{
  position: absolute;
  width:10%;
  height: 500;
  left: 9%;
  top:320px;
}

